---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import avatar from "../assets/misc/avatar.png";

const pageTitle = "About Me";

const identity = {
  firstName: "Ваня",
  country: "РФ",
  occupation: "начинающий программист (в поиске работы)",
  hobbies: ["заниматься музыкой", "новые технологии"],
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "Astro",
  "Python/Flask",
  "SQL/SQLite",
];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "var(--four-color)";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Про меня</h2>
  <div class="cont container-wrap">
    <Image
      src={avatar}
      alt="Картинка из интернета, но потом буду я"
      width={300}
      height={300}
      class="image"
    />
  </div>
  <small
    >Просто картинка из интернета которая очень понравилась.
    <br />
    Автор (предположительно): MaximovInk (<a
      href="https://www.reddit.com/user/MaximovInk/">reddit</a
    >)</small
  >
  <p>
    Пока не очень ясно, что здесь писать (не привлекая АИ к этому :) Эта
    страница одна из первых, что я сделал!
  </p>
  <p>Чем дальше в путь, тем больше буду дополнять эту страницу.</p>
  <p>Несколько фактов про меня:</p>
  <ul>
    <li>Меня зовут {identity.firstName}.</li>
    <li>
      Я нахожу: {identity.country}
      <br />
      Работаю: {identity.occupation}.
    </li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Мои хобби сейчас: {identity.hobbies[0]} и {identity.hobbies[1]}.
        </li>
      )
    }
  </ul>
  <p>Мои навыки:</p>
  <small
    >Не во всём из этого я хорош, но перечисленное использовал в проектах и
    обучении.
    <br />
    Язык C я не стал указывать :)
  </small>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>

<style define:vars={{ skillColor, fontWeight, textCase }}>
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }

  * {
    font-family: var(--font-read);
  }

  .container {
    margin: 0 auto;
    margin-bottom: 5%;
  }

  .image {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }

  small {
    font-size: small;
    font-style: italic;
    margin: 0 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  p {
    padding: 0;
    margin: 0.8em;
  }

  ul li {
    list-style: circle;
  }

  .cont {
    margin: 0 1rem;
  }
</style>
